@use "../Abstract/" as *;

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  // box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 20px 3px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  transition: 0.5 ease all;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: #4f84e2;
  }

  &:active {
    box-shadow: none;
    transform: scale(0.98);
  }

  &.transparent {
    margin: 0;
    background-color: transparent;
    width: 130px;
    height: 41px;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
